.mybtn {
    border-radius: 5px;
    color: white;
    padding: 17px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 10%;
}

.mybtn {

    border: 2px solid #4CAF50;
}

.mybtn:hover {
    background-color: #4CAF50;
    color: white;
}
.n{
    color: rgb(113, 188, 0);
    font-size: 16px;
}
.header{
    color: rgb(0, 124, 128);
}

.hero{
    background: rgb(244, 244, 244);
    max-width: 100%;
    max-height: 100%;
}
.heroPart1{
    max-width: 50%;
    min-width: 50%;
    height: 5%;
}
.heroPart1 img{
    width: 90%;
}
.achieve{
    margin-top: 5%;
    padding-left: 20px;
    
}
.item{
    margin-top: 5%;
    width: 80%;
}
.icon{
    font-size: 30px;
    margin-top: 1%;
    padding: 0 3%;
    color: #4CAF50;
}
.time-section{
    background: rgb(243, 243, 243);
    padding: 30px;
}
.item-schedule{
    margin-top: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.item-schedule2{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-left: 3%;
}
.content{
    margin-right: 90px;
}

.icon2{
    font-size: 15px;
    margin-top: 1%;
    padding: 0 1%;
    color: #4CAF50;
}
.item-schedule2 h4{
    width: 600px;
}




.content_data{
    max-width: 1300px;
    margin: auto;
}
  
.swiper {
    padding: 22px !important;
}
  
.swiper .swiper-button-prev {
    left: 0px;
}
.swiper .swiper-button-next {
    right: 0px;
}
  
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    width: 32px;
    height: 32px;
    color: #ffffff;
    background-color: #363636;
    border-radius: 50%;
}
  
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 20px;
    margin-top: 2px;
}
